.svgwrapper{
	position: relative;
	color: lightgray;
	margin:50px auto;
}
svg{
  	background-color: gray;
	background-image: url("../images/background-teg.jpg");
	background-size: 80% 100%;
	background-repeat: no-repeat;
	background-position: 100%;
}

g{
	cursor:pointer;
}

.pointer{
	cursor:pointer;
}

#wrapperj1{
	position: absolute;
	top: 1%;
	width: 20%;
	font-size: 1.5vw;
}

#wrapperj2{
	position: absolute;
	top: 10%;
	width: 20%;
	font-size: 1.5vw;
}

.activePlayer{
	color:white ;
}

#wrapperj1 > .nombreteg{
	border-left: 5px solid #e65100;
}

#wrapperj2 > .nombreteg{
	border-left: 5px solid #689f38;
}



.nombreteg{
	width: 50%;
	float: left;
	padding-left: 5px;
	font-size: 1.5vw;
	text-align: left;
}

.nombreteg > small{
	font-size: 1vw;
}

.ejercitosteg{
	float: left;
	width: 25%;
	line-height: 30px;
}

.paisesteg{
	float: left;
	width: 25%;
	line-height: 30px;
}

#consola{
	position: absolute;
    left: 0;
    top: 30%;
    width: 20%;
    height: 55%;
    color: white;
    padding: 5px;
    font-size: 1.4vw;
    font-family: monospace;
	border: 0px;
	border-top:1px solid lightgray;
    overflow-y: auto;
	overflow-x: hidden;
}

#wrapperp1{
	padding: 0.5% 30px;
    font-size: 2vw;
	position: absolute;
    background: #B58D44;
    width: 20%;
    color: white;
    left: 35%;
    top: 0;
	z-index: 9000;
	height: 7%;
}
#wrapperp1 > i{
	color:red;
	position: absolute;
    right: 5%;
	top: 15%;
}

#wrapperp2 > i{
	color:red;
	position: absolute;
    right: 5%;
	top: 15%;
}

#wrapperp2{
	padding: 0.5% 30px;
    font-size: 2vw;
	position: absolute;
    background: #B58D44;
    width: 20%;
	height: 7%;
    color: white;
    left: 65%;
    top: 0;
	z-index: 9000;
}

#btnLeft{
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
	position: absolute;
    background: rgb(204, 163, 47);
    width: 5%;
	height: 7%;
    color: white;
    left: 75%;
	text-align: center;
    top: 0;
	border-radius: 200px 0px 0px 200px;
	-moz-border-radius: 200px 0px 0px 200px;
	-webkit-border-radius: 200px 0px 0px 200px;
	border: 0px solid #000000;
}
#btnLeft.active{
	left:61%;
}

#btnRestar{
	position: absolute;
    background: rgb(204, 163, 47);
    width: 5%;
	height: 7%;
    color: white;
    left: 40%;
	text-align: center;
    top: 0;
	border-radius: 200px 0px 0px 200px;
	-moz-border-radius: 200px 0px 0px 200px;
	-webkit-border-radius: 200px 0px 0px 200px;
	border: 0px solid #000000;
}
#btnRestar.active{
	left:31%;
}

#btnAumentar{
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
	position: absolute;
    background: rgb(204, 163, 47);
    width: 5%;
	height: 7%;
    color: white;
    left: 40%;
    top: 0;
	text-align: center;
	border-radius: 0px 200px 200px 0px;
	-moz-border-radius: 0px 200px 200px 0px;
	-webkit-border-radius: 0px 200px 200px 0px;
	border: 0px solid #000000;
}

#btnAumentar.active{
	left:54%;
}

#btnNext{
	position: absolute;
	bottom: 0;
	left: 0;
	font-size: 1.5vw;
	width: 20.1%;
	height: 16%;
	color: white;
	background-color: brown;
	border: none;
}


#btnAtacar{
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
	position: absolute;
    top: 0;
	overflow: hidden;
    left: 58%;
    height: 0%;
    width: 5%;
    background-color: brown;
    border: none;
    color: white;
}

#btnAtacar.active{
	height: 15%;
border-bottom-left-radius: 8px;
border-bottom-right-radius: 8px;
}
